<div class="text-center" *ngIf="!movies">
    <img src="../../assets/images/loading.gif" alt="">
</div>

<div class="row" *ngIf="movies">
    <div card class="card col-md-4 col-md-6 col-xs-12" *ngFor="let movie of movies">
      <div class="alert alert-dark cursor-pointer" [routerLink]="['/movie', movie.id]">
        <div class="card-body">
          <p class="card-title">{{ movie.title }}</p>
          <p>{{ movie.release_date | date:'yyyy' }}</p>
          <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" [alt]="movie.title" class="card-img-top">
        </div>
      </div>
    </div>
  </div>
  
